<template>
  <div>
    <announcement :text="announcementText" :show="showAnnouncement"/>
    <score :opponentScore="opponentScore" :playerScore="playerScore"/>
    <controls :show.sync="showControls"/>
    <div class="home">
      <div ref="world"></div>
    </div>
  </div>
</template>

<script>
import * as THREE from 'three';
import axios from 'axios';

import Player from '../../models/Player.js';
import World from '../../models/World.js';

import announcement from '../components/Announcement.vue';
import score from '../components/Score.vue';
import controls from '../components/Controls.vue';

export default {
  name: 'home',
  components: {
    score,
    controls,
    announcement,
  },
  data() {
    return {
      world: {},
      player: {},
      opponent: {},
      showControls: false,
      opponentUsed: '',
      playerUsed: '',
      playerScore: 0,
      opponentScore: 0,
      enemyConnected: false,
      announcementText: 'Warte auf Spieler',
      showAnnouncement: true,
    };
  },
  watch: {
    enemyConnected() {
      if (this.enemyConnected) {
        this.showAnnouncement = false;
        this.announcementText = '';
        this.animateIntro();
      }
    },
  },
  sockets: {
    userConnected: function(userId) {
      if (userId !== this.$socket.id) {
        this.enemyConnected = true;
      }
    },
    userSeletedGesture: function({ user, gesture }) {
      if(user === this.$socket.id) {
        console.log('you use', gesture);
        this.playerUsed = gesture;
      } else {
        console.log('opponent uses', gesture);
        this.opponentUsed = gesture;
      }
      // determine victory/loss after a short delay
      if (this.opponentUsed !== '' && this.playerUsed !== '') {
        // fade from idle animation into gesture for player and opponent
        this.player.animate(this.playerUsed, 0.3);
        this.opponent.animate(this.opponentUsed, 0.3);

        setTimeout(() => {
          if (
            this.opponentUsed === 'rock' && this.playerUsed === 'paper'
            || this.opponentUsed === 'paper' && this.playerUsed === 'scissor'
            || this.opponentUsed === 'scissor' && this.playerUsed === 'rock'
          ) {
            // victory
            this.playerScore++;
            console.log('victory');
          } else if (this.opponentUsed === this.playerUsed) {
            // draw
            console.log('draw');
          } else {
            // lost
            console.log('lost');
            this.opponentScore++;
          }

          this.showControls = true;
          this.opponentUsed = '';
          this.playerUsed = '';
          // fade animation back into idle animation
          this.player.animate('idle', 0.3, true);
          this.opponent.animate('idle', 0.3, true);
        }, 2000);
      }
    }
  },
  mounted() {
    this.init();
  },
  methods: {
    async fetchUsersOnline() {
      const response = await axios.get('http://localhost:3000/users');
      if (response.data.length === 2) {
        this.enemyConnected = true;
      }
      console.log(response.data.length, 'users online');
    },
    animateIntro() {
      //animate fists
      this.player.animateToPosition({
        x: 0,
        z: 2,
        y: 0,
        duration: 600,
      });

      setTimeout(() => {
        this.player.animateToPosition({
          x: -12,
          z: 8,
          y: 0,
          duration: 600,
        });
      }, 1200);


      this.opponent.animateToPosition({
        x: 0,
        z: 0,
        y: 0,
        duration: 600,
      });

      setTimeout(() => {
        this.opponent.animateToPosition({
          x: 12.5,
          z: -15,
          y: 0,
          duration: 600,
        });
      }, 1200);

      setTimeout(() => {
        this.world.animateCameraTo(0, 15, 40, 600);
      }, 2000);

      setTimeout(() => {
        this.player.animate('idle', 0.3, true);
        this.opponent.animate('idle', 0.3, true);
        this.showControls = true;
      }, 2600);
    },
    async init() {
      this.world = new World({
        element: this.$refs.world,
        debug: false,
      });
      this.world.start();

      this.player = new Player(this.world);
      await this.player.init();
      this.player.setPosition({
        x: 0,
        z: 10,
        y: 0,
      });

      this.opponent = new Player(this.world);
      await this.opponent.init();
      this.opponent.setPosition({
        x: 0,
        z: -10,
        y: 0,
      }).rotate({
        axis: 'y',
        amount: 180,
      });

      this.fetchUsersOnline();
    },
  },
}
</script>
<style lang="scss">
  .animate {
    position: fixed;
    top: 40px;
    right: 40px;
    background-color: red;
    z-index: 9999;
    cursor: pointer;
  }

  .stop-animation {
    position: fixed;
    top: 40px;
    right: 200px;
    background-color: red;
    z-index: 9999;
    cursor: pointer;
  }
</style>
