<template>
  <div>
    <div v-if="show" class="announcement-wrapper">
      <div class="announcement">{{ text }}</div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Announcement',
  components: {
  },
  data() {
    return {
    };
  },
  mounted() {
  },
  props: {
    show: Boolean,
    text: String,
  },
  methods: {
  },
}
</script>
<style lang="scss">
.announcement-wrapper {
  width: 100%;
  position: fixed;
  top: 40%;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.announcement {
  color: white;
  font-weight: bold;
  font-size: 3rem;
}
</style>
