<template>
  <div v-if="show" class="gestures-overlay">
    <div class="gestures">
      <div @click="selectGesture(gesture)"
        class="gesture-wrapper"
        v-for="gesture in gestures"
        :key="gesture.title"
        :class="[
          { 'hide': selectedGesture !== null && selectedGesture !== gesture.title },
          { 'activate': selectedGesture !== null && selectedGesture === gesture.title }
        ]"
      >
        <div class="gesture">
          <font-awesome-icon class="icon" :icon="gesture.icon" />
          <div>{{ gesture.title }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Controls',
  components: {
  },
  data() {
    return {
      selectedGesture: null,
      gestures: [
        {
          title: 'Rock',
          animation: 'rock',
          icon: 'hand-rock',
        },
        {
          title: 'Paper',
          animation: 'paper',
          icon: 'hand-paper',
        },
        {
          title: 'Scissor',
          animation: 'scissor',
          icon: 'hand-scissors',
        },
      ],
    };
  },
  props: {
    show: Boolean,
  },
  mounted() {
  },
  methods: {
    selectGesture(gesture) {
      this.selectedGesture = gesture.title;

      setTimeout(() => {
        this.$emit('update:show', false);
        this.$socket.emit('select-gesture', gesture.title.toLowerCase());
        // do some animation stuff for the selected gesture
        this.selectedGesture = null;
      }, 400);
    },
  },
}
</script>
<style lang="scss">
.gestures-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gesture-wrapper {
  width: 120px;
  height: 120px;
  position: relative;
  margin: 20px;
}

.gesture {
  position: absolute;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  user-select: none;
  cursor: pointer;
  transition: 0.15s border-radius ease;
  transition: 0.15s background-color ease;

  &:hover {
    border-radius: 60px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.hide {
  transition: 0.15s opacity ease;
  opacity: 0;
  width: 0px;
  height: 0px;
}

.gestures {
  display: flex;
}

.icon {
  color: #e0e0e0;
  font-size: 40px;
  margin-bottom: 10px;
}

.activate {
  transition: 0.4s scale ease;
  transition: 0.4s height ease;
  transition: 0.4s width ease;
  transition: 0.4s opacity ease;
  border-radius: 60px;
  opacity: 0;
  transform: scale(2);
}
</style>
