<template>
  <div class="score-wrapper">
    <div class="score mr">You {{playerScore}}</div>
    <div class="score">Opponent {{opponentScore}}</div>
  </div>
</template>

<script>

export default {
  name: 'Score',
  components: {
  },
  data() {
    return {
    };
  },
  mounted() {
  },
  props: {
    opponentScore: Number,
    playerScore: Number,
  },
  methods: {
  },
}
</script>
<style lang="scss">
.score-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.score {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 6px 18px;
  margin-top: 10px;
  user-select: none;
  border-radius: 3px;
}

.mr {
  margin-right: 1rem;
}
</style>
