<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App',
  data() {
    return {
    };
  },
  sockets: {
    connect: function() {
      console.log('your id is', this.$socket.id);
      console.log('socket connected')
    },
    connection: function(data) {
      console.log('RECEIVED', data);
    }
  },
  methods: {
  },
  created() {
  },
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

* {
  box-sizing: border-box;
}

body,html {
  padding: 0;
  margin: 0;
}

canvas {
  display: block;
}
</style>
